<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <strong>Reactive form tutorial</strong>
    <ion-list>
      <ion-item>
        <ion-label for="reactiveText">Input: </ion-label>
        <ion-input type="text" [formControl]="reactiveText" name="reactiveText" placeholder="テキストを入力"></ion-input>
      </ion-item>
    </ion-list>
    <p class="ion-text-left ion-padding">Output: {{ reactiveText.value }}</p>
  </div>
</ion-content>
